div{
  text-align: center;
  background-image: linear-gradient(to bottom right, rgba(30,33,36,255), rgba(40,43,48,255), rgba(54,57,62,255), rgba(66, 69, 73, 255));
  color: #7C95ED;
}

html{
  background-image: url("https://cdn4.vectorstock.com/i/1000x1000/98/33/neon-city-fireworks-vector-21959833.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.gamerow{
  width: 100%;
  height:350px;
display: inline-block;
}


.gamecol{
  height:350px;
  width:33%;
display: inline-block;
}

.webrow{
  width: 100%;
  height:350px;
display: inline-block;
}


.webcol{
  height:350px;
  width:33%;
display: inline-block;
}
